[submodule "themes/risotto"]
	path = themes/risotto
	url = https://github.com/joeroe/risotto.git
[submodule "themes/hugo-theme-cactus"]
	path = themes/hugo-theme-cactus
	url = https://github.com/Nastassia/hugo-theme-cactus.git
